@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    src:  url('./ChakraPetch-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: url('./ChakraPetch-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 500;
    src:  url('./ChakraPetch-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 600;
    src:  url('./ChakraPetch-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    src: url('./ChakraPetch-Bold.ttf') format('truetype');
  }